@import 'variables'

.app-layout
  background: url("../../www/images/bg.jpg") no-repeat center center scroll #2C2927
  background-size: cover
  width: 100%
  height: 100%

.layout-header
  background: linear-gradient(to bottom, $blue_gradient_top, $blue_gradient_bottom)
  height: 60px

.layout--top-offset
  margin-top: 2%

.header-img
  right: 5px
  width: 20%
  top: 20px
  position: absolute

.header-img--menu-logo
  position: absolute
  top: 20px
  left: 20px
  width: 40px

.title-format
  padding: 2% 0 3% 0
  text-align: -webkit-center
  font-size: 0.9em
  color: $blue_gradient_top

form
  width: 80%

label
  padding-bottom: 20px
  display: block

form input
  width: 100%
  box-sizing: border-box
  border: 1px solid $light_gray
  background: transparent
  border-radius: 0

.input:focus
  -webkit-tap-highlight-color: white !important
  -webkit-focus-ring-color: white !important
  outline: none !important

.txt--gray
  color: $txt_gray

.txt-placeholder--gray
  color: $placeholder_gray

.btn
  border-radius: 5px
  min-width: 25%
  margin: 20px
  border: none
  line-height: 1.6em
  color: white
  background: linear-gradient(to bottom, $blue_gradient_top, $blue_gradient_bottom)

.login-layout--btn
  width: 100%

.login--form
  text-align: center

.login--form input
  height: 25px
  width: 100% !important
  box-sizing: border-box
  border-bottom: 1px solid $placeholder_gray
  border-left: none
  border-top: none
  border-right: none
  background: transparent
  border-radius: 0

.login-logo
  text-align: center
  display: block
  padding-bottom: 15%

.layout--centered
  margin-right: auto
  margin-left: auto
  text-align: center

.login-img
  width: 74%
  display: block
  padding-bottom: 5%


.service-txt
  color: $light_blue
  font-size: 0.8em

.service-txt--blue
  color: $blue_icon
  font-size: 0.7em
  vertical-align: bottom

.service-txt--login
  display: block
  text-align: center

.service-txt--signup
  vertical-align: top

.signup-ckeckbox
  width: auto

.signup-layout--btn
  text-align: center

.btn--plus
  width: 80px
  height: 80px
  border-radius: 10px
  background-color: $dark_gray

.pets-list
  height: 300px
  width: 80%

.title-layout
  padding-top: 20px

.title-pet
  color: $orange
  font-size: 1.2em
  
.menu-layout
  left: -100%
  height: -webkit-calc(100% - 60px)
  width: 100%
  position: absolute
  top: 60px
  background: linear-gradient(to right, $blue_gradient_left, $blue_gradient_right)
  transition-property: left
  transition-duration: 0.5s

.menu-layout--header
  height: 60px
  border-bottom: 1px solid white

.menu-layout--item
  height: 40px
  border-bottom: 1px solid white
  color: white
  line-height: 2em
  text-align: left

.menu-item
  padding-left: 35%
  top: 5px
  position: relative
  font-size: 1.2em

.menuOpened
  transition-property: left
  transition-duration: 0.5s
  left: -30%

