<div class="layout--centered">
    <div class="txt-placeholder--gray">
        <div class="title-format">
            <span class="txt--gray">Add Pet</span>
            <div ng-click="takePhoto(true);">
                <img class="btn--plus" src="images/plus_icon.png">
            </div>
            <div class="layout--top-offset" ng-click="takePhoto();">
                <img src="images/camera_icon.png">
                <span class="service-txt--blue">Upload Photo</span>
            </div>

        </div>
        <form class="layout--centered">
            <label>
                <input type="text" placeholder="Name">
            </label>
            <label>
                <input type="text" placeholder="Age">
            </label>
            <label>
                <input type="text" placeholder="Species">
            </label>
            <label>
                <input type="text" placeholder="Breed">
            </label>
            <label>
                <input type="text" placeholder="Gender">
            </label>
            <div class="login-layout--btn layout--centered">
                <button class="btn" ng-click="">Add</button>
                <button class="btn" ng-click="goSelectPet()">Next</button>
            </div>
        </form>
    </div>
</div>