<div class="settings-main-container">
    <!--<div ng-repeat="item in model">-->
        <!--<div class="notification-label" ng-swipe-left="swipe()">-->
            <!--<span>{{item.message}}</span>-->
        <!--</div>-->
    <!--</div>-->
    <span class="title-orange">You currently have no scheduled appointments</span>
    <div class="settings-bottom">
        <button class="btn btn--middle notification-btn-bottom--offset" ng-click="requestAppt();">Request Appointment</button>
    </div>
    <menu-icons></menu-icons>
</div>