<div class="txt--gray">
    <div class="layout--centered">
        <div class="btn btn-long call-btn" ng-click="makeCall()">
             <img class="call-img" src="images/hangoff.png">
             <span>Call Office</span>
        </div>
        <div class="btn btn-long call-btn">
            <img class="call-img" src="images/hangon.png">
            <span>Vet On-call</span>
        </div>
        <div class="btn btn-long call-btn" >
            <img class="call-img" src="images/video.png">
            <span>Video call</span>
        </div>
    </div>
    <menu-icons></menu-icons>
</div>