<div class="txt--gray">
    <div class="layout-header"></div>
    <div class="login-logo">
        <img class="login-img layout--centered" src="images/logo.png">
        <span class="txt--gray">Input you email and we send you instructions to retore password</span>
    </div>
    <div class="login--form txt-placeholder--gray">
        <form class="layout--centered">
            <label>
                <input type="text" placeholder="email">
            </label>
            <div class="login-layout--btn layout--centered">
                <button class="btn" ng-click="send()">Send</button>
            </div>
        </form>
    </div>
</div>