<div class="login-layout txt--gray">
    <div class="layout-header"></div>
    <div class="login-logo">
        <img class="login-img layout--centered" src="images/logo.png">
        <span class="txt--gray">Welcome to Paw Doc</span>
    </div>
    <div class="login--form txt-placeholder--gray">
        <form class="layout--centered">
            <label>
                <input type="text" placeholder="Username">
            </label>
            <label>
                <input type="password" placeholder="Password">
            </label>
            <div class="login-layout--btn layout--centered">
                <button class="btn" ng-click="goAddpet()">Login</button>
                <button class="btn" ng-click="goSignup()">Sugn Up</button>
            </div>
            <span class="service-txt">Forgot your login</span>
        </form>
    </div>
</div>