<div class="layout--centered">
    <div class="layout-header">
        <img class="header-img" src="images/header_logo.png">
        <span class="header-title">Owner Information</span>
    </div>
    <div class="txt-placeholder--gray">
        <form class="layout--centered layout--big-offset">
            <label>
                <input type="text" placeholder="Name">
            </label>
            <label>
                <input type="text" placeholder="Address">
            </label>
            <label>
                <input type="text" placeholder="City">
            </label>
            <label>
                <input type="text" placeholder="State">
            </label>
            <label>
                <input type="text" placeholder="Zip">
            </label>
            <label>
                <input type="tel" placeholder="(555) 555-555">
            </label>
            <div class="login-layout--btn layout--centered">
                <button class="btn" ng-click="goToWelcomePage()">Next</button>
            </div>
        </form>
    </div>
</div>