<div class="layout--centered">
    <div class="txt-placeholder--gray">
        <form class="layout--centered layout--big-offset">
            <label>
                <input type="text" placeholder="Name">
            </label>
            <label>
                <input type="text" placeholder="Age">
            </label>
            <label>
                <input type="text" placeholder="Species">
            </label>
            <label>
                <input type="text" placeholder="Breed">
            </label>
            <label>
                <input type="text" placeholder="Gender">
            </label>

            <double-checkbox ng-model="cbModel"></double-checkbox>
            <div class="login-layout--btn layout--centered">
                <button class="btn" ng-click="goCurrProblem()">Next</button>
            </div>
        </form>
    </div>
</div>