<div class="layout--centered">
    <div class="txt-placeholder--gray">
        <form class="layout--centered layout--big-offset">
            <label>
                <input type="text" placeholder="Name" ng-model="model.name">
            </label>
            <label>
                <input type="text" placeholder="Age" ng-model="model.age">
            </label>
            <label>
                <input type="text" placeholder="Species" ng-model="model.species">
            </label>
            <label>
                <input type="text" placeholder="Breed" ng-model="model.breed">
            </label>
            <label>
                <input type="text" placeholder="Gender" ng-model="model.gender">
            </label>

            <double-checkbox ng-model="cbModel"></double-checkbox>
            <div class="login-layout--btn layout--centered">
                <button class="btn" ng-click="goCurrProblem()">Next</button>
            </div>
        </form>
    </div>
</div>