<div class="title-layout">
        <div class="btn btn-price">
            <span>Tele-consult</span>
            <span> More details here</span>
            <span>Price: $65</span>
        </div>
        <div class="btn btn-price">
            <span>Video Conference</span>
            <span>more</span>
            <span>Price: $2.50 per min</span>
        </div>
        <div class="btn btn-price">
            <span>immediate Consultation</span>
            <span>Wait time: 0:00 mins</span>
            <span>Price: $80</span>
        </div>


    <div class="layout--centered btn--bottom">
        <button class="btn btn-long" ng-click="goConfirmation()">Previous</button>
        <button class="btn btn-long" ng-click="goPayment()">Next</button>
    </div>
</div>