<div class="txt--gray">
    <div>
        <img class="login-img layout--centered" src="images/logo.png">
    </div>
    <div>
        <span class="title-format title-orange ">Hello {{pet.moniker}}</span>
        <img class="welcome-img" ng-src="{{pet.url}}">
    </div>
    <div class="layout--centered welcome-btn--inline">
        <button class="btn btn--long" ng-click="goNewCase()">New Case</button>
        <button class="btn btn--long" ng-click="goViewCase()">View case</button>
    </div>
    <menu-icons></menu-icons>
</div>