<div class="txt--gray">
    <div class="login-logo">
        <img class="login-img layout--centered" src="images/logo.png">
        <span class="txt--gray">Welcome to Paw Doc</span>
    </div>
    <div class="title-layout">
        <span class="title-format title-pet">Hello Pet</span>
    </div>
    <div class="layout--centered">
        <button class="btn btn-long" ng-click="goAddpet()">New case</button>
        <button class="btn btn-long" ng-click="goViewCase()">View case</button>
    </div>
    <div class="welcome-icons">
        <img class="welcome-icon-layout" src="images/call_icon.png">
        <img class="welcome-icon-layout" src="images/appt_icon.png">
        <img class="welcome-icon-layout" src="images/alert_icon.png">
        <img class="welcome-icon-layout" src="images/mypet_icon.png">
        <img class="welcome-icon-layout" src="images/food_icon.png">
    </div>
</div>